fastapi
uvicorn
python-dotenv
scikit-learn
pandas
joblib
sqlalchemy
pymysql
python-jose[cryptography]
python-multipart
email-validator
bcrypt
openpyxl
mlflow
prometheus-fastapi-instrumentator
pymysql
cryptography